@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');


:root {
  --background: #ffffff;
  --foreground: #171717;
}
::-webkit-scrollbar{
  width: 3px;
}

::-webkit-scrollbar-thumb{
  background-color: rgb(37,99,235);
}


@media (prefers-color-scheme: dark) {
  :root {
    --background: #e8e8e8;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Poppins', sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
